
@{
    ViewBag.Title = "afterlogin";
}

<h2>afterlogin</h2>

<form action="/Home/Train">
    <input type="submit" value="View Train Details" style= "background-color: lightskyblue"" />
</form>
<br />
<form action="/Home/SignUp" >
    <input type="submit" value="Sign Up"style= "background-color: lightskyblue" />
</form>
<br />
<form action="/Home/Register">
    <input type="submit" value="Reservation"style= "background-color: lightskyblue" />
</form>
<br />
<form action="/Home/Cancel">
    <input type="submit" value="Cancel Ticket"style= "background-color: lightskyblue" />
</form>