
@{
    ViewBag.Title = "HomePage";
}

<h2>HomePage</h2>

<h1>Login</h1>
<form action="/Home/afterlogin">
    Email: <input type="text" required /><br />
    <br />
    Password:<input type="Password" required /><br /><br />
    <input type="submit" value="Login" style="background-color:lightskyblue " />
    
</form>
<a href="SignUp">Not Having Account</a>